<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>local storage test</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="newtodo" @keyup.enter='addTodo'>
        <button @click="addTodo">Add</button>
        <hr>
        <div>
            <p> <h1>Vue instance</h1> </p>
            <ul>
                <li v-for='(todo, index) in todolist'>
                    {{ todo.text }} -- {{ todo.done }}
                </li>
            </ul>
        </div>
        <hr>
        <todo-list :todos='todolist'></todo-list>
        <hr>
        <todo-list :todos='todolist'></todo-list>
        <hr>
        <todo-list :todos='todolist'></todo-list>
    </div>

    <template id="todo-list">
        <div>
            <p> <h1>component</h1> </p>
            <ul>
                <li v-for='(todo, index) in todos'>
                    {{ todo.text }} -- {{ todo.done }} -- {{ myData }}
                    <button @click="toggleDone(todo)">toggleDone</button>
                    <button @click="removeTodo(index)">delete</button>
                    <button @click="show()">show todos</button>
                    <button @click="readData()">read data</button>
                </li>
            </ul>
        </div>
    </template>
    
<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
<script>
    Vue.component('todo-list', {
        props: {
            todos: { 
                default: [] 
            }
        },
        data() {
            return {
                myData: null
            }
        },
        template: '#todo-list',
        updated() {
            this.readData();
            // this 指向 VueComponent _componentTag: todo-list
            console.log(this);
        },
        methods: {
            toggleDone(todo) {
                todo.done = !todo.done;
            },
            removeTodo(index) {
                this.todos.splice(index, 1);
            },
            show() {
                console.log('todolist', this.todos);
                console.log('myData', myData);
            },
            readData() {
                myData = JSON.parse(JSON.stringify(this.todos));
                console.log('deep copy')
            }
        }
    });

    new Vue({
        el: '#app',
        data: {
            todolist: [],
            newtodo: ''
        },
        watch: {
            todolist: 'save'
        },
        mounted() {
            this.load();
        },
        methods: {
            addTodo() {
                if (this.newtodo != '') {
                    this.todolist.push({
                        text: this.newtodo,
                        done: false
                    });
                }
                this.newtodo = '';
                console.log('addTodo()');
            },
            save() {
                let data = JSON.stringify(this.todolist);
                localStorage.todolist = data;
            },
            load() {
                if(localStorage.todolist)
                    this.todolist = JSON.parse(localStorage.todolist);
                    // this 指向 Vue instance
                    console.log(this);
            }
        }
    })
</script>
</body>
</html>