<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

	<div id="app" >
		<input v-model='message'>
		<button v-if='message' @click='createtodo'>送出</button>
		<button v-if='type'>修改</button>
		<template id="sublimebtn">
			<button v-if={{types}}>送出</button>
		</template>
		<sublime v-bind:type='type'></sublime>
		<li v-for='list in lists'>
			{{ list.text }}
			<button  @click='deletetodo(list)'>新增</button>
			<button  @click='updatetodoList(list)'>修改</button>
		</li>
	</div>
	
	<script type="text/javascript">
		Vue.component('sublime', {
		  props: ['types'],
		  template: '#sublimebtn'
		})
		Vue.component('test',{
			methods:{
				sublime(){
					console.log('hey')
				}
			},
			props:['title'],
			template:'#test'
		})
		new Vue({
			el:'#app',
			data:{
				message:'Showcreate',
				lists:[],
				type:'Showcreate',
				Showcreate:'true',
				Showupdate:'true',

			},
			methods:{
				createtodo(){
					this.lists.push({text:this.message})
				},
				deletetodo(list){
					this.lists.splice(this.lists.indexOf(list),1)
				},
				updatetodoList(list)
				{
					this.message=list.text;	
					this.type='Showupdate';	
					console.log(this.type);
				}
			}
		})
	</script>
</body>
</html>