/*
* @Author: jin-mo
* @Date:   2020-07-06
* @Last Modified by:   jin-mo
* @Last Modified time: 2020-07-06
*/

body
  background-color #abc

*, h1, button
  font-family: 'Nunito', sans-serif;
 
.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-active
  opacity: 0

.tasks
  width 100%
  max-width 45rem
  padding 1em
  margin 1em auto
  overflow auto
  background-color white
  box-shadow 0px .25rem 1rem rgba(black, .25)

.tasks__list
  clear both

.tasks__item
  margin-bottom .5em
  position relative

.tasks__item__toggle
  cursor pointer
  width 100%
  text-align left
  padding .85em 2.25em .85em 1em
  background-color rgba(black, .05)
  border 1px solid rgba(black, .1)

.tasks__item__toggle:hover
  background-color rgba(black, .1)
  border-color rgba(black, .15)

.tasks__item__toggle--completed
  text-decoration line-through
  background-color rgba(green, .15)
  border-color rgba(green, .2)

.tasks__item__toggle--completed:hover
  background-color rgba(green, .25)
  border-color rgba(green, .3)

.tasks__item__remove
  position absolute
  height 100%
  top 50%
  right 0
  transform translateY(-50%)
.tasks__item__remove i
  vertical-align middle